### Data Cleaning and Preprocessing

In [1]:
import pandas as pd
import re
from datetime import datetime,timedelta

In [2]:
binadata=pd.read_json('binadata.json')
agencydata=pd.read_json('agentlik.json')

In [4]:
binadata.shape

(20444, 20)

##### Transforming and preparing for merging Agency Data

In [3]:
agencydata.head(8)

,title,countTotal,building,countNewBuilding
0,News Service daşınmaz əmlak agentliyi,170,Yeni tikililərin satışı,116
1,Uğur Əmlak daşınmaz əmlak agentliyi,626,Yeni tikililərin satışı,137
2,Hemax daşınmaz əmlak agentliyi,126,Yeni tikililərin satışı,81
3,New Europe daşınmaz əmlak agentliyi,268,Yeni tikililərin satışı,80
4,Garanti Əmlak MMC Baş ofis daşınmaz əmlak agen...,98,Yeni tikililərin satışı,55
5,Real Əmlak Gənclik daşınmaz əmlak agentliyi,592,Yeni tikililərin satışı,371
6,İdeal house daşınmaz əmlak agentliyi,267,Yeni tikililərin satışı,44
7,TX Group daşınmaz əmlak agentliyi,133,Yeni tikililərin satışı,39

In [4]:
agencydata.building.unique()

array(['Yeni tikililərin satışı'], dtype=object)

In [5]:
agencydata.drop(['building'],axis=1,inplace=True)

In [6]:
binadata[binadata["Agency Name"].notnull()]

,Kateqoriya,Mərtəbə,Sahə,Otaq sayı,Kupça,İpoteka,Agency Name,Price,Currency,Unit Price,Description,Adress,Locations,Latitute,Longitude,Seller Name,Ownership,Announcement ID,Views,Update Time
0,Yeni tikili,9 / 10,125 m²,3,var,var,Fortuna-N daşınmaz əmlak agentliyi,205000,AZN,1 640 AZN/m²,Yasamal r-nu Navastroyka Ümumi Sahəsi 125 kv 3...,"Ünvan: Bakı şəhəri, Zərdabi 86","[İnşaatçılar m., Yasamal r.]",40.390293,49.802656,ELDƏNİZ,vasitəçi (agent),Elanın nömrəsi: 2753211,Baxışların sayı: 51,Yeniləndi: Dünən 18:00
1,Yeni tikili,6 / 16,157 m²,3,var,var,VİP House daşınmaz əmlak agentliyi,350000,AZN,2 230 AZN/m²,Dəyərli müştərilər!!!\nEkskluziv təklif!!!\nBa...,"Ünvan: Bakı şəhəri, C.Cabbarlı küç.74","[Nizami m., Beşmərtəbə , Yasamal r.]",40.378852,49.830508,Anar,vasitəçi (agent),Elanın nömrəsi: 2740288,Baxışların sayı: 194,Yeniləndi: Dünən 17:56
2,Yeni tikili,4 / 19,70 m²,2,var,NaN,New House 28 May daşınmaz əmlak agentliyi,112500,AZN,1 610 AZN/m²,"ƏLA VARİANT!!! Yasamal rayonu, Həsən Bəy Zərda...","Ünvan: Bakı şəhəri, Həsən bəy Zərdabi küçəsi","[İnşaatçılar m., Yasamal r., Yasamal q.]",40.393736,49.806128,Aygün x,vasitəçi (agent),Elanın nömrəsi: 2753168,Baxışların sayı: 98,Yeniləndi: Dünən 17:45
3,Yeni tikili,4 / 17,81 m²,2,yoxdur,NaN,NPG MMC daşınmaz əmlak agentliyi,180000,AZN,2 220 AZN/m²,Xətai metrosuna yaxın\n\nQAZLI / YAŞAYIŞLI bin...,"Ünvan: Bakı şəhəri, Sabit Orucov küç.","[Cavanşir körpüsü , Şah İsmayıl Xətai m., Xəta...",40.379946,49.866214,Murad Mənsimov,vasitəçi (agent),Elanın nömrəsi: 2753207,Baxışların sayı: 50,Yeniləndi: Dünən 17:56
4,Yeni tikili,11 / 17,151 m²,3,yoxdur,NaN,Qarabağ Əmlak daşınmaz əmlak agentliyi,185000,AZN,1 230 AZN/m²,cox cox tecili:Bineqedi rayon 9mkrda mircelal ...,"Ünvan: Bakı şəhəri, Mir Cəlal küçəsi","[Binəqədi r., 9-cu mikrorayon q.]",40.421824,49.809609,Mirze,vasitəçi (agent),Elanın nömrəsi: 2753228,Baxışların sayı: 59,Yeniləndi: Bugün 09:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20435,Yeni tikili,4 / 18,67 m²,2,var,NaN,Broker daşınmaz əmlak agentliyi,115000,AZN,1 720 AZN/m²,"ƏŞYALI!!! ""ASP"" yaşayış kompleksində 18 mərtəb...","Ünvan: Bakı şəhəri, Tbilisi pr.","[20 Yanvar m., Yasamal r.]",40.402828,49.807501,Akşin,vasitəçi (agent),Elanın nömrəsi: 2752039,Baxışların sayı: 54,Yeniləndi: Dünən 11:35
20436,Yeni tikili,16 / 18,142 m²,4,var,var,Real Əmlak Nizami daşınmaz əmlak agentliyi,315000,AZN,2 220 AZN/m²,"Asan xidmətə, Tibb universitetinə və Ege hospi...","Ünvan: Bakı şəhəri, Səməd Vurğun küçəsi","[ASAN Xidmət №1 , Tibb Universiteti , Nəsimi r.]",40.399659,49.832550,Kamran Hakimoğlu,mülkiyyətçi,Elanın nömrəsi: 2694747,Baxışların sayı: 130,Yeniləndi: Dünən 11:45
20437,Yeni tikili,9 / 15,148 m²,3,var,NaN,Real Əmlak Yeni Yasamal daşınmaz əmlak agentliyi,162000,AZN,1 090 AZN/m²,BAZAR DƏYƏRİNDƏN UCUZ!!! ENDİRİM OLUNDU!!! 3 O...,"Ünvan: Bakı şəhəri, Əsəd Əhmədov küç","[Yasamal r., Yeni Yasamal q.]",40.387076,49.787476,Şahsultan,vasitəçi (agent),Elanın nömrəsi: 2752028,Baxışların sayı: 110,Yeniləndi: Dünən 11:30
20440,Yeni tikili,15 / 17,130 m²,3,var,var,Real Əmlak Nizami daşınmaz əmlak agentliyi,225000,AZN,1 730 AZN/m²,"Gənclikdə, Həsən əliyevdə, İstikbalın arxasınd...","Ünvan: Bakı şəhəri, Möhsün Sənani küç.",[Nərimanov r.],40.408917,49.864000,Kamran Hakimoğlu,vasitəçi (agent),Elanın nömrəsi: 2641666,Baxışların sayı: 240,Yeniləndi: Dünən 11:45
20441,Yeni tikili,15 / 20,156 m²,4,var,var,Real Əmlak Bakı daşınmaz əmlak agentliyi,399000,AZN,2 560 AZN/m²,"- Xətai Rayonu, Fəzail Bayramov küç, Sevgi Par...","Ünvan: Bakı şəhəri, Fəzail Bayramov küç","[Şah İsmayıl Xətai m., Xətai r.]",40.385422,49.866793,Qurban Bəy,vasitəçi (agent),Elanın nömrəsi: 2752076,Baxışların sayı: 33,Yeniləndi: Dünən 11:46

In [7]:
binadata.shape

(20444, 20)

In [8]:
data = pd.merge(binadata,agencydata,how='left',left_on='Agency Name',right_on='title')

data.shape

(20444, 23)

In [9]:
agencydata[agencydata.title.str.contains('Əmlak Plaza')]

Empty DataFrame
Columns: [title, countTotal, countNewBuilding]
Index: []

In [10]:
binadata[binadata["Agency Name"].notnull()].shape

(14342, 20)

In [11]:
data[(data["Agency Name"].notnull()) & (data.title.isnull())]\
.groupby('Agency Name')\
.size().reset_index().values

array([['Modern Əmlak daşınmaz əmlak agentliyi', 167],
       ['Əmlak Plaza  daşınmaz əmlak agentliyi', 42]], dtype=object)

In [12]:
for i in data[(data["Agency Name"].notnull()) & (data.title.isnull())]\
.groupby('Agency Name')\
.size().reset_index().values:
    data.loc[(data["Agency Name"]==i[0]),["title","countTotal","countNewBuilding"]]=i[0],i[1],i[1]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20444 entries, 0 to 20443
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Kateqoriya        20444 non-null  object
 1   Mərtəbə           20444 non-null  object
 2   Sahə              20444 non-null  object
 3   Otaq sayı         20444 non-null  int64
 4   Kupça             20444 non-null  object
 5   İpoteka           3619 non-null   object
 6   Agency Name       14342 non-null  object
 7   Price             20444 non-null  int64
 8   Currency          20444 non-null  object
 9   Unit Price        20444 non-null  object
 10  Description       20444 non-null  object
 11  Adress            20444 non-null  object
 12  Locations         20444 non-null  object
 13  Latitute          20444 non-null  float64
 14  Longitude         20444 non-null  float64
 15  Seller Name       20186 non-null  object
 16  Ownership         20186 non-null  object
 17  Announcement ID   20444 non-null  object
 18  Views             20444 non-null  object
 19  Update Time       20444 non-null  object
 20  title             14342 non-null  object
 21  countTotal        14342 non-null  float64
 22  countNewBuilding  14342 non-null  float64
dtypes: float64(4), int64(2), object(17)
memory usage: 3.7+ MB

In [14]:
columns=list(data.columns)
columns=list(map(lambda x:x.replace(" ","").upper(),columns))
columns[:6]=["CATEGORY","FLOOR","AREA","ROOMNUMBERS","PROPERTYDOC","MORTGAGE"]
columns[columns.index("ADRESS")]="ADDRESS"
data.columns=columns
del columns

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20444 entries, 0 to 20443
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CATEGORY          20444 non-null  object
 1   FLOOR             20444 non-null  object
 2   AREA              20444 non-null  object
 3   ROOMNUMBERS       20444 non-null  int64
 4   PROPERTYDOC       20444 non-null  object
 5   MORTGAGE          3619 non-null   object
 6   AGENCYNAME        14342 non-null  object
 7   PRICE             20444 non-null  int64
 8   CURRENCY          20444 non-null  object
 9   UNITPRICE         20444 non-null  object
 10  DESCRIPTION       20444 non-null  object
 11  ADDRESS           20444 non-null  object
 12  LOCATIONS         20444 non-null  object
 13  LATITUTE          20444 non-null  float64
 14  LONGITUDE         20444 non-null  float64
 15  SELLERNAME        20186 non-null  object
 16  OWNERSHIP         20186 non-null  object
 17  ANNOUNCEMENTID    20444 non-null  object
 18  VIEWS             20444 non-null  object
 19  UPDATETIME        20444 non-null  object
 20  TITLE             14342 non-null  object
 21  COUNTTOTAL        14342 non-null  float64
 22  COUNTNEWBUILDING  14342 non-null  float64
dtypes: float64(4), int64(2), object(17)
memory usage: 3.7+ MB

In [16]:
del binadata,agencydata

In [17]:
data["MAINLOCATION"]=data.LOCATIONS.apply(lambda x: x[-1])
data["LOCATIONSSIZE"]=data.LOCATIONS.apply(lambda x: len(x))
data.drop(["LOCATIONS"],axis=1,inplace=True)

In [18]:
data[['LOCATIONSSIZE',"MAINLOCATION"]]

       LOCATIONSSIZE        MAINLOCATION
0                  2          Yasamal r.
1                  3          Yasamal r.
2                  3          Yasamal q.
3                  3            Xətai r.
4                  2  9-cu mikrorayon q.
...              ...                 ...
20439              3          Yasamal q.
20440              1        Nərimanov r.
20441              2            Xətai r.
20442              2            Xətai r.
20443              3          Yasamal r.

[20444 rows x 2 columns]

In [19]:
data.drop_duplicates()

,CATEGORY,FLOOR,AREA,ROOMNUMBERS,PROPERTYDOC,MORTGAGE,AGENCYNAME,PRICE,CURRENCY,UNITPRICE,...,SELLERNAME,OWNERSHIP,ANNOUNCEMENTID,VIEWS,UPDATETIME,TITLE,COUNTTOTAL,COUNTNEWBUILDING,MAINLOCATION,LOCATIONSSIZE
0,Yeni tikili,9 / 10,125 m²,3,var,var,Fortuna-N daşınmaz əmlak agentliyi,205000,AZN,1 640 AZN/m²,...,ELDƏNİZ,vasitəçi (agent),Elanın nömrəsi: 2753211,Baxışların sayı: 51,Yeniləndi: Dünən 18:00,Fortuna-N daşınmaz əmlak agentliyi,117.0,33.0,Yasamal r.,2
1,Yeni tikili,6 / 16,157 m²,3,var,var,VİP House daşınmaz əmlak agentliyi,350000,AZN,2 230 AZN/m²,...,Anar,vasitəçi (agent),Elanın nömrəsi: 2740288,Baxışların sayı: 194,Yeniləndi: Dünən 17:56,VİP House daşınmaz əmlak agentliyi,264.0,142.0,Yasamal r.,3
2,Yeni tikili,4 / 19,70 m²,2,var,NaN,New House 28 May daşınmaz əmlak agentliyi,112500,AZN,1 610 AZN/m²,...,Aygün x,vasitəçi (agent),Elanın nömrəsi: 2753168,Baxışların sayı: 98,Yeniləndi: Dünən 17:45,New House 28 May daşınmaz əmlak agentliyi,840.0,615.0,Yasamal q.,3
3,Yeni tikili,4 / 17,81 m²,2,yoxdur,NaN,NPG MMC daşınmaz əmlak agentliyi,180000,AZN,2 220 AZN/m²,...,Murad Mənsimov,vasitəçi (agent),Elanın nömrəsi: 2753207,Baxışların sayı: 50,Yeniləndi: Dünən 17:56,NPG MMC daşınmaz əmlak agentliyi,112.0,76.0,Xətai r.,3
4,Yeni tikili,11 / 17,151 m²,3,yoxdur,NaN,Qarabağ Əmlak daşınmaz əmlak agentliyi,185000,AZN,1 230 AZN/m²,...,Mirze,vasitəçi (agent),Elanın nömrəsi: 2753228,Baxışların sayı: 59,Yeniləndi: Bugün 09:54,Qarabağ Əmlak daşınmaz əmlak agentliyi,294.0,127.0,9-cu mikrorayon q.,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20439,Yeni tikili,4 / 17,185 m²,4,yoxdur,NaN,NaN,225000,AZN,1 220 AZN/m²,...,Elvin,vasitəçi (agent),Elanın nömrəsi: 2752033,Baxışların sayı: 68,Yeniləndi: Dünən 11:33,NaN,NaN,NaN,Yasamal q.,3
20440,Yeni tikili,15 / 17,130 m²,3,var,var,Real Əmlak Nizami daşınmaz əmlak agentliyi,225000,AZN,1 730 AZN/m²,...,Kamran Hakimoğlu,vasitəçi (agent),Elanın nömrəsi: 2641666,Baxışların sayı: 240,Yeniləndi: Dünən 11:45,Real Əmlak Nizami daşınmaz əmlak agentliyi,540.0,238.0,Nərimanov r.,1
20441,Yeni tikili,15 / 20,156 m²,4,var,var,Real Əmlak Bakı daşınmaz əmlak agentliyi,399000,AZN,2 560 AZN/m²,...,Qurban Bəy,vasitəçi (agent),Elanın nömrəsi: 2752076,Baxışların sayı: 33,Yeniləndi: Dünən 11:46,Real Əmlak Bakı daşınmaz əmlak agentliyi,1010.0,545.0,Xətai r.,2
20442,Yeni tikili,6 / 20,67 m²,2,yoxdur,NaN,NaN,139500,AZN,2 080 AZN/m²,...,İlqar Məmmədov,vasitəçi (agent),Elanın nömrəsi: 2752031,Baxışların sayı: 72,Yeniləndi: Bugün 09:45,NaN,NaN,NaN,Xətai r.,2
20443,Yeni tikili,15 / 18,76 m²,3,var,NaN,NaN,155000,AZN,2 040 AZN/m²,...,Mehdi,vasitəçi (agent),Elanın nömrəsi: 2748587,Baxışların sayı: 99,Yeniləndi: Bugün 11:45,NaN,NaN,NaN,Yasamal r.,3

In [20]:
data.loc[(data.AGENCYNAME.isnull()),"AGENCYNAME"]="yoxdur"
data["AGENCYNAME"]=data.AGENCYNAME.apply(lambda x: x.replace("daşınmaz əmlak agentliyi",""))

In [21]:
data.FLOOR=data.FLOOR.apply(lambda x: re.findall(r'\d+',x))
data["MAINFLOOR"]=data.FLOOR.apply(lambda x:x[0])
data["FLOOR"]=data.FLOOR.apply(lambda x:x[1])

In [22]:
data[data.index==58].UPDATETIME

58    Yeniləndi: 11 Aprel 2022
Name: UPDATETIME, dtype: object

In [23]:
data.UPDATETIME.unique()

array(['Yeniləndi: Dünən 18:00 ', 'Yeniləndi: Dünən 17:56 ',
       'Yeniləndi: Dünən 17:45 ', 'Yeniləndi: Bugün 09:54 ',
       'Yeniləndi: Dünən 18:06 ', 'Yeniləndi: Dünən 17:43 ',
       'Yeniləndi: Dünən 17:38 ', 'Yeniləndi: Dünən 17:35 ',
       'Yeniləndi: Dünən 17:54 ', 'Yeniləndi: Dünən 18:53 ',
       'Yeniləndi: Dünən 17:58 ', 'Yeniləndi: 22 Aprel 2022 ',
       'Yeniləndi: Dünən 17:53 ', 'Yeniləndi: 21 Aprel 2022 ',
       'Yeniləndi: 20 Aprel 2022 ', 'Yeniləndi: Dünən 18:01 ',
       'Yeniləndi: 18 Aprel 2022 ', 'Yeniləndi: Dünən 17:50 ',
       'Yeniləndi: 17 Aprel 2022 ', 'Yeniləndi: 16 Aprel 2022 ',
       'Yeniləndi: 19 Aprel 2022 ', 'Yeniləndi: 15 Aprel 2022 ',
       'Yeniləndi: 24 Aprel 2022 ', 'Yeniləndi: 14 Aprel 2022 ',
       'Yeniləndi: Bugün 11:00 ', 'Yeniləndi: 23 Aprel 2022 ',
       'Yeniləndi: Bugün 08:17 ', 'Yeniləndi: 12 Aprel 2022 ',
       'Yeniləndi: 13 Aprel 2022 ', 'Yeniləndi: 09 Aprel 2022 ',
       'Yeniləndi: 11 Aprel 2022 ', 'Yeniləndi: 08 Aprel 2022 ',
       'Yeniləndi: 07 Aprel 2022 ', 'Yeniləndi: 05 Aprel 2022 ',
       'Yeniləndi: 03 Aprel 2022 ', 'Yeniləndi: 04 Aprel 2022 ',
       'Yeniləndi: 01 Aprel 2022 ', 'Yeniləndi: 29 Mart 2022 ',
       'Yeniləndi: 02 Aprel 2022 ', 'Yeniləndi: 30 Mart 2022 ',
       'Yeniləndi: 28 Mart 2022 ', 'Yeniləndi: 31 Mart 2022 ',
       'Yeniləndi: Dünən 23:00 ', 'Yeniləndi: Dünən 20:00 ',
       'Yeniləndi: Bugün 10:21 ', 'Yeniləndi: Dünən 21:00 ',
       'Yeniləndi: Dünən 22:00 ', 'Yeniləndi: 09 Mart 2022 ',
       'Yeniləndi: Bugün 12:12 ', 'Yeniləndi: Bugün 08:34 ',
       'Yeniləndi: Dünən 22:16 ', 'Yeniləndi: Bugün 00:00 ',
       'Yeniləndi: Bugün 04:00 ', 'Yeniləndi: Bugün 10:00 ',
       'Yeniləndi: Bugün 03:00 ', 'Yeniləndi: Bugün 02:00 ',
       'Yeniləndi: Bugün 01:00 ', 'Yeniləndi: Bugün 09:00 ',
       'Yeniləndi: Bugün 10:57 ', 'Yeniləndi: Bugün 10:35 ',
       'Yeniləndi: Bugün 12:00 ', 'Yeniləndi: Bugün 12:04 ',
       'Yeniləndi: Bugün 12:22 ', 'Yeniləndi: 27 Mart 2022 ',
       'Yeniləndi: Dünən 13:37 ', 'Yeniləndi: Dünən 13:15 ',
       'Yeniləndi: Bugün 12:03 ', 'Yeniləndi: Bugün 11:36 ',
       'Yeniləndi: Dünən 15:54 ', 'Yeniləndi: 10 Aprel 2022 ',
       'Yeniləndi: Dünən 12:31 ', 'Yeniləndi: Dünən 12:52 ',
       'Yeniləndi: Bugün 12:13 ', 'Yeniləndi: Bugün 11:34 ',
       'Yeniləndi: Bugün 11:44 ', 'Yeniləndi: Bugün 12:23 ',
       'Yeniləndi: 06 Aprel 2022 ', 'Yeniləndi: Dünən 11:44 ',
       'Yeniləndi: Bugün 11:56 ', 'Yeniləndi: Bugün 12:21 ',
       'Yeniləndi: Bugün 09:13 ', 'Yeniləndi: Bugün 11:22 ',
       'Yeniləndi: Dünən 14:13 ', 'Yeniləndi: Dünən 16:11 ',
       'Yeniləndi: Bugün 12:26 ', 'Yeniləndi: Bugün 11:39 ',
       'Yeniləndi: Dünən 15:59 ', 'Yeniləndi: Dünən 12:10 ',
       'Yeniləndi: Dünən 12:23 ', 'Yeniləndi: Dünən 12:30 ',
       'Yeniləndi: Dünən 13:43 ', 'Yeniləndi: Dünən 13:27 ',
       'Yeniləndi: Bugün 11:42 ', 'Yeniləndi: Bugün 12:28 ',
       'Yeniləndi: Bugün 11:21 ', 'Yeniləndi: Bugün 12:27 ',
       'Yeniləndi: Dünən 12:24 ', 'Yeniləndi: Dünən 12:29 ',
       'Yeniləndi: Bugün 12:29 ', 'Yeniləndi: Bugün 12:24 ',
       'Yeniləndi: Dünən 13:38 ', 'Yeniləndi: Dünən 15:27 ',
       'Yeniləndi: Bugün 11:46 ', 'Yeniləndi: Dünən 22:20 ',
       'Yeniləndi: Dünən 14:09 ', 'Yeniləndi: Dünən 13:51 ',
       'Yeniləndi: Bugün 12:10 ', 'Yeniləndi: Dünən 15:25 ',
       'Yeniləndi: Dünən 14:12 ', 'Yeniləndi: Dünən 15:55 ',
       'Yeniləndi: Dünən 13:19 ', 'Yeniləndi: Dünən 14:14 ',
       'Yeniləndi: Dünən 16:39 ', 'Yeniləndi: Bugün 11:33 ',
       'Yeniləndi: Bugün 11:25 ', 'Yeniləndi: Bugün 02:24 ',
       'Yeniləndi: Bugün 12:08 ', 'Yeniləndi: Dünən 13:13 ',
       'Yeniləndi: Dünən 13:42 ', 'Yeniləndi: Dünən 20:19 ',
       'Yeniləndi: Bugün 11:38 ', 'Yeniləndi: Bugün 12:11 ',
       'Yeniləndi: Dünən 11:32 ', 'Yeniləndi: Bugün 11:47 ',
       'Yeniləndi: Dünən 18:56 ', 'Yeniləndi: Bugün 11:23 ',
       'Yeniləndi: Bugün 11:37 ', 'Yeniləndi: Dünən 14:31 ',
       'Yeniləndi: Dünən 13:52 ', 'Yeniləndi: Dünən 14:08 ',
       'Yeniləndi: Dünən 14:07 ', 'Yeniləndi: Dünən 16:28 ',
       'Yeniləndi: Dünən 13:50 ', 'Yeniləndi: Bugün 12:15 ',
       'Yeniləndi: Dünən 20:56 ', 'Yeniləndi: Dünən 20:20 ',
       'Yeniləndi: Dünən 11:15 ', 'Yeniləndi: Bugün 11:11 ',
       'Yeniləndi: Bugün 11:29 ', 'Yeniləndi: Dünən 12:36 ',
       'Yeniləndi: Bugün 11:28 ', 'Yeniləndi: Dünən 12:37 ',
       'Yeniləndi: Bugün 09:09 ', 'Yeniləndi: Dünən 13:26 ',
       'Yeniləndi: Dünən 10:33 ', 'Yeniləndi: Bugün 11:30 ',
       'Yeniləndi: Bugün 02:21 ', 'Yeniləndi: Dünən 15:26 ',
       'Yeniləndi: Bugün 02:23 ', 'Yeniləndi: Dünən 20:22 ',
       'Yeniləndi: Dünən 20:23 ', 'Yeniləndi: Dünən 20:25 ',
       'Yeniləndi: Dünən 13:14 ', 'Yeniləndi: Dünən 10:01 ',
       'Yeniləndi: Bugün 09:21 ', 'Yeniləndi: Dünən 20:08 ',
       'Yeniləndi: Bugün 09:11 ', 'Yeniləndi: Bugün 11:24 ',
       'Yeniləndi: Dünən 11:45 ', 'Yeniləndi: Bugün 11:26 ',
       'Yeniləndi: Dünən 13:21 ', 'Yeniləndi: Dünən 17:09 ',
       'Yeniləndi: Dünən 13:47 ', 'Yeniləndi: Bugün 10:06 ',
       'Yeniləndi: Dünən 17:30 ', 'Yeniləndi: Dünən 20:32 ',
       'Yeniləndi: Dünən 12:22 ', 'Yeniləndi: Bugün 10:14 ',
       'Yeniləndi: Dünən 20:29 ', 'Yeniləndi: Dünən 16:40 ',
       'Yeniləndi: Dünən 19:45 ', 'Yeniləndi: Dünən 14:17 ',
       'Yeniləndi: Dünən 15:52 ', 'Yeniləndi: Dünən 13:20 ',
       'Yeniləndi: Bugün 12:09 ', 'Yeniləndi: Dünən 11:49 ',
       'Yeniləndi: Dünən 15:48 ', 'Yeniləndi: Dünən 12:38 ',
       'Yeniləndi: Bugün 10:48 ', 'Yeniləndi: Dünən 18:08 ',
       'Yeniləndi: Dünən 11:34 ', 'Yeniləndi: Dünən 11:46 ',
       'Yeniləndi: Dünən 18:11 ', 'Yeniləndi: Dünən 21:53 ',
       'Yeniləndi: Bugün 11:45 ', 'Yeniləndi: Dünən 11:43 ',
       'Yeniləndi: Dünən 15:37 ', 'Yeniləndi: Dünən 16:41 ',
       'Yeniləndi: Dünən 13:48 ', 'Yeniləndi: Bugün 12:39 ',
       'Yeniləndi: Dünən 18:15 ', 'Yeniləndi: Dünən 10:00 ',
       'Yeniləndi: Dünən 21:30 ', 'Yeniləndi: Bugün 12:01 ',
       'Yeniləndi: Bugün 12:02 ', 'Yeniləndi: Bugün 09:57 ',
       'Yeniləndi: Dünən 12:34 ', 'Yeniləndi: Bugün 09:08 ',
       'Yeniləndi: Dünən 09:58 ', 'Yeniləndi: Dünən 14:24 ',
       'Yeniləndi: Dünən 12:56 ', 'Yeniləndi: Dünən 13:17 ',
       'Yeniləndi: Dünən 16:38 ', 'Yeniləndi: Dünən 14:10 ',
       'Yeniləndi: Bugün 12:38 ', 'Yeniləndi: Dünən 10:16 ',
       'Yeniləndi: Bugün 10:44 ', 'Yeniləndi: Dünən 09:54 ',
       'Yeniləndi: Bugün 12:43 ', 'Yeniləndi: Dünən 22:49 ',
       'Yeniləndi: Dünən 16:36 ', 'Yeniləndi: Dünən 17:44 ',
       'Yeniləndi: Dünən 16:33 ', 'Yeniləndi: Dünən 23:49 ',
       'Yeniləndi: Bugün 10:41 ', 'Yeniləndi: Dünən 16:42 ',
       'Yeniləndi: Dünən 16:43 ', 'Yeniləndi: Bugün 12:33 ',
       'Yeniləndi: Dünən 11:31 ', 'Yeniləndi: Dünən 18:17 ',
       'Yeniləndi: Bugün 11:16 ', 'Yeniləndi: Dünən 20:28 ',
       'Yeniləndi: Dünən 13:07 ', 'Yeniləndi: Bugün 10:33 ',
       'Yeniləndi: Bugün 11:10 ', 'Yeniləndi: Dünən 16:31 ',
       'Yeniləndi: Dünən 10:02 ', 'Yeniləndi: Dünən 13:36 ',
       'Yeniləndi: Bugün 11:32 ', 'Yeniləndi: Bugün 10:34 ',
       'Yeniləndi: Dünən 11:41 ', 'Yeniləndi: Bugün 11:54 ',
       'Yeniləndi: Bugün 10:59 ', 'Yeniləndi: Dünən 22:51 ',
       'Yeniləndi: Dünən 17:39 ', 'Yeniləndi: Dünən 17:51 ',
       'Yeniləndi: Dünən 11:42 ', 'Yeniləndi: Dünən 09:00 ',
       'Yeniləndi: Bugün 12:36 ', 'Yeniləndi: Dünən 16:14 ',
       'Yeniləndi: Dünən 18:36 ', 'Yeniləndi: Dünən 13:30 ',
       'Yeniləndi: Dünən 13:08 ', 'Yeniləndi: Bugün 10:52 ',
       'Yeniləndi: Dünən 08:48 ', 'Yeniləndi: Bugün 10:15 ',
       'Yeniləndi: Dünən 23:50 ', 'Yeniləndi: Bugün 12:40 ',
       'Yeniləndi: Dünən 20:59 ', 'Yeniləndi: Dünən 15:31 ',
       'Yeniləndi: Dünən 10:14 ', 'Yeniləndi: Dünən 11:38 ',
       'Yeniləndi: Dünən 12:27 ', 'Yeniləndi: Bugün 09:47 ',
       'Yeniləndi: Bugün 08:37 ', 'Yeniləndi: Bugün 11:06 ',
       'Yeniləndi: Dünən 16:54 ', 'Yeniləndi: Dünən 17:41 ',
       'Yeniləndi: Dünən 19:14 ', 'Yeniləndi: Dünən 11:40 ',
       'Yeniləndi: Bugün 11:20 ', 'Yeniləndi: Dünən 13:03 ',
       'Yeniləndi: Dünən 10:15 ', 'Yeniləndi: Dünən 12:07 ',
       'Yeniləndi: Dünən 21:57 ', 'Yeniləndi: Dünən 13:25 ',
       'Yeniləndi: Bugün 09:52 ', 'Yeniləndi: Bugün 12:25 ',
       'Yeniləndi: Dünən 10:54 ', 'Yeniləndi: Dünən 22:14 ',
       'Yeniləndi: Bugün 10:19 ', 'Yeniləndi: Dünən 14:55 ',
       'Yeniləndi: Dünən 14:18 ', 'Yeniləndi: Dünən 21:04 ',
       'Yeniləndi: Dünən 11:37 ', 'Yeniləndi: Dünən 19:58 ',
       'Yeniləndi: Dünən 22:56 ', 'Yeniləndi: Dünən 21:39 ',
       'Yeniləndi: Dünən 19:08 ', 'Yeniləndi: Bugün 11:51 ',
       'Yeniləndi: Dünən 14:30 ', 'Yeniləndi: Dünən 15:18 ',
       'Yeniləndi: Dünən 10:27 ', 'Yeniləndi: Dünən 11:36 ',
       'Yeniləndi: Dünən 18:55 ', 'Yeniləndi: Dünən 13:53 ',
       'Yeniləndi: Dünən 12:43 ', 'Yeniləndi: Dünən 18:20 ',
       'Yeniləndi: Dünən 12:44 ', 'Yeniləndi: Dünən 15:15 ',
       'Yeniləndi: Dünən 10:13 ', 'Yeniləndi: Dünən 12:45 ',
       'Yeniləndi: Dünən 12:46 ', 'Yeniləndi: Bugün 10:25 ',
       'Yeniləndi: Bugün 12:14 ', 'Yeniləndi: Bugün 12:19 ',
       'Yeniləndi: Dünən 20:03 ', 'Yeniləndi: Dünən 15:51 ',
       'Yeniləndi: Dünən 20:04 ', 'Yeniləndi: Dünən 23:55 ',
       'Yeniləndi: Bugün 06:13 ', 'Yeniləndi: Dünən 21:37 ',
       'Yeniləndi: Dünən 14:41 ', 'Yeniləndi: Bugün 10:04 ',
       'Yeniləndi: Dünən 12:19 ', 'Yeniləndi: Dünən 14:54 ',
       'Yeniləndi: Bugün 10:38 ', 'Yeniləndi: Bugün 10:45 ',
       'Yeniləndi: Dünən 10:20 ', 'Yeniləndi: Dünən 11:17 ',
       'Yeniləndi: Bugün 11:03 ', 'Yeniləndi: Dünən 11:21 ',
       'Yeniləndi: Dünən 21:12 ', 'Yeniləndi: Dünən 13:23 ',
       'Yeniləndi: Dünən 10:24 ', 'Yeniləndi: Dünən 10:07 ',
       'Yeniləndi: Dünən 11:10 ', 'Yeniləndi: Dünən 12:53 ',
       'Yeniləndi: Dünən 11:18 ', 'Yeniləndi: Dünən 10:31 ',
       'Yeniləndi: Dünən 16:47 ', 'Yeniləndi: Bugün 12:55 ',
       'Yeniləndi: Dünən 11:33 ', 'Yeniləndi: Dünən 12:26 ',
       'Yeniləndi: Dünən 11:05 ', 'Yeniləndi: Dünən 10:21 ',
       'Yeniləndi: Dünən 10:36 ', 'Yeniləndi: Dünən 10:25 ',
       'Yeniləndi: Dünən 14:25 ', 'Yeniləndi: Bugün 12:35 ',
       'Yeniləndi: Dünən 10:08 ', 'Yeniləndi: Dünən 20:15 ',
       'Yeniləndi: Dünən 20:16 ', 'Yeniləndi: Bugün 11:19 ',
       'Yeniləndi: Dünən 14:53 ', 'Yeniləndi: Dünən 23:39 ',
       'Yeniləndi: Bugün 11:31 ', 'Yeniləndi: Bugün 00:32 ',
       'Yeniləndi: Bugün 06:14 ', 'Yeniləndi: Dünən 11:16 ',
       'Yeniləndi: Dünən 20:44 ', 'Yeniləndi: Dünən 23:36 ',
       'Yeniləndi: Dünən 23:37 ', 'Yeniləndi: Bugün 11:35 ',
       'Yeniləndi: Dünən 13:04 ', 'Yeniləndi: Bugün 00:48 ',
       'Yeniləndi: Dünən 17:18 ', 'Yeniləndi: Dünən 13:54 ',
       'Yeniləndi: Dünən 19:06 ', 'Yeniləndi: Dünən 11:04 ',
       'Yeniləndi: Bugün 09:43 ', 'Yeniləndi: Dünən 11:29 ',
       'Yeniləndi: Dünən 17:11 ', 'Yeniləndi: Bugün 09:10 ',
       'Yeniləndi: Dünən 17:15 ', 'Yeniləndi: Dünən 12:21 ',
       'Yeniləndi: Dünən 10:12 ', 'Yeniləndi: Dünən 11:54 ',
       'Yeniləndi: Dünən 21:41 ', 'Yeniləndi: Bugün 11:59 ',
       'Yeniləndi: Dünən 17:02 ', 'Yeniləndi: Dünən 10:26 ',
       'Yeniləndi: Dünən 19:04 ', 'Yeniləndi: Dünən 19:40 ',
       'Yeniləndi: Dünən 19:17 ', 'Yeniləndi: Dünən 19:43 ',
       'Yeniləndi: Dünən 19:35 ', 'Yeniləndi: Dünən 19:42 ',
       'Yeniləndi: Bugün 11:50 ', 'Yeniləndi: Dünən 10:23 ',
       'Yeniləndi: Dünən 20:30 ', 'Yeniləndi: Dünən 23:44 ',
       'Yeniləndi: Dünən 13:57 ', 'Yeniləndi: Dünən 19:49 ',
       'Yeniləndi: Dünən 21:35 ', 'Yeniləndi: Dünən 19:48 ',
       'Yeniləndi: Dünən 12:11 ', 'Yeniləndi: Dünən 21:14 ',
       'Yeniləndi: Dünən 21:34 ', 'Yeniləndi: Dünən 21:40 ',
       'Yeniləndi: Dünən 21:46 ', 'Yeniləndi: Dünən 22:35 ',
       'Yeniləndi: Bugün 09:14 ', 'Yeniləndi: Dünən 23:19 ',
       'Yeniləndi: Dünən 01:15 ', 'Yeniləndi: Dünən 01:33 ',
       'Yeniləndi: Dünən 01:12 ', 'Yeniləndi: Dünən 00:54 ',
       'Yeniləndi: Dünən 01:26 ', 'Yeniləndi: Dünən 01:28 ',
       'Yeniləndi: Dünən 00:57 ', 'Yeniləndi: Dünən 00:53 ',
       'Yeniləndi: Dünən 00:24 ', 'Yeniləndi: Bugün 00:27 ',
       'Yeniləndi: Dünən 00:11 ', 'Yeniləndi: Dünən 01:13 ',
       'Yeniləndi: Dünən 08:33 ', 'Yeniləndi: Bugün 01:03 ',
       'Yeniləndi: Dünən 08:52 ', 'Yeniləndi: Bugün 08:35 ',
       'Yeniləndi: Dünən 01:44 ', 'Yeniləndi: Bugün 08:33 ',
       'Yeniləndi: Dünən 08:54 ', 'Yeniləndi: Dünən 01:35 ',
       'Yeniləndi: Bugün 06:43 ', 'Yeniləndi: Dünən 09:02 ',
       'Yeniləndi: Dünən 09:01 ', 'Yeniləndi: Dünən 01:36 ',
       'Yeniləndi: Dünən 01:38 ', 'Yeniləndi: Dünən 08:56 ',
       'Yeniləndi: Dünən 09:03 ', 'Yeniləndi: Bugün 04:28 ',
       'Yeniləndi: Bugün 09:25 ', 'Yeniləndi: Dünən 09:59 ',
       'Yeniləndi: Dünən 09:21 ', 'Yeniləndi: Dünən 09:04 ',
       'Yeniləndi: Dünən 09:29 ', 'Yeniləndi: Bugün 09:48 ',
       'Yeniləndi: Bugün 08:36 ', 'Yeniləndi: Dünən 09:38 ',
       'Yeniləndi: Dünən 09:45 ', 'Yeniləndi: Dünən 09:27 ',
       'Yeniləndi: Bugün 09:51 ', 'Yeniləndi: Dünən 09:42 ',
       'Yeniləndi: Dünən 09:31 ', 'Yeniləndi: Bugün 09:45 ',
       'Yeniləndi: Dünən 10:06 ', 'Yeniləndi: Dünən 10:17 ',
       'Yeniləndi: Dünən 10:29 ', 'Yeniləndi: Bugün 10:23 ',
       'Yeniləndi: Dünən 10:50 ', 'Yeniləndi: Dünən 10:28 ',
       'Yeniləndi: Dünən 10:38 ', 'Yeniləndi: Bugün 10:37 ',
       'Yeniləndi: Dünən 10:49 ', 'Yeniləndi: Dünən 10:30 ',
       'Yeniləndi: Dünən 10:52 ', 'Yeniləndi: Dünən 10:35 ',
       'Yeniləndi: Dünən 10:43 ', 'Yeniləndi: Bugün 10:30 ',
       'Yeniləndi: Dünən 10:44 ', 'Yeniləndi: Dünən 10:41 ',
       'Yeniləndi: Dünən 10:47 ', 'Yeniləndi: Dünən 10:56 ',
       'Yeniləndi: Dünən 10:53 ', 'Yeniləndi: Dünən 10:59 ',
       'Yeniləndi: Dünən 11:00 ', 'Yeniləndi: Bugün 10:58 ',
       'Yeniləndi: Dünən 10:57 ', 'Yeniləndi: Dünən 11:02 ',
       'Yeniləndi: Dünən 11:07 ', 'Yeniləndi: Dünən 11:08 ',
       'Yeniləndi: Dünən 11:13 ', 'Yeniləndi: Dünən 11:06 ',
       'Yeniləndi: Bugün 11:17 ', 'Yeniləndi: Dünən 11:09 ',
       'Yeniləndi: Bugün 11:18 ', 'Yeniləndi: Dünən 11:12 ',
       'Yeniləndi: Dünən 11:19 ', 'Yeniləndi: Dünən 11:24 ',
       'Yeniləndi: Dünən 11:20 ', 'Yeniləndi: Dünən 11:26 ',
       'Yeniləndi: Dünən 11:23 ', 'Yeniləndi: Dünən 11:25 ',
       'Yeniləndi: Dünən 11:27 ', 'Yeniləndi: Bugün 09:15 ',
       'Yeniləndi: Dünən 11:35 ', 'Yeniləndi: Dünən 11:30 '], dtype=object)

In [24]:
def replaceTime(val):
    currentDay = datetime.now().day
    currentMonth = datetime.now().month
    currentYear=datetime.now().year
    
    yesterday= (datetime.now() - timedelta(days=1)).day
    yesterdayMonth= (datetime.now() - timedelta(days=1)).month
    yesterdayYear= (datetime.now() - timedelta(days=1)).year
    months={"Yanvar":"01","Fevral":"02","Mart":"03","Aprel":"04","May":"05","İyun":"06","İyul":"07","Avqust":"08","Sentyabr":"09","Oktyabr":10,"Noyabr":11,"Dekabr":12}
    
    if len(str(currentMonth))==1:
        currentMonth=f'0{currentMonth}'
    if len(str(yesterdayMonth))==1:
        yesterdayMonth=f'0{yesterdayMonth}'
    val=val.replace("Yeniləndi:","").strip()
    if "Dünən" in val:
        val=f'{yesterday} {yesterdayMonth} {yesterdayYear}'
    elif "Bugün" in val:
        val=f'{currentDay} {currentMonth} {currentYear}'
    for monthname, monthnum in months.items():
        #print(monthname)
        if monthname in val:
            #print("-----",monthname)
            val=val.replace(monthname, monthnum)
    return val.replace(" ","")

data["UPDATETIME"]=data.UPDATETIME.apply(lambda x: replaceTime(x))

In [25]:
data['UPDATETIME'] = pd.to_datetime(data['UPDATETIME'], format='%d%m%Y')

In [26]:
data["UPDATETIME"].unique()

array(['2022-04-26T00:00:00.000000000', '2022-04-27T00:00:00.000000000',
       '2022-04-22T00:00:00.000000000', '2022-04-21T00:00:00.000000000',
       '2022-04-20T00:00:00.000000000', '2022-04-18T00:00:00.000000000',
       '2022-04-17T00:00:00.000000000', '2022-04-16T00:00:00.000000000',
       '2022-04-19T00:00:00.000000000', '2022-04-15T00:00:00.000000000',
       '2022-04-24T00:00:00.000000000', '2022-04-14T00:00:00.000000000',
       '2022-04-23T00:00:00.000000000', '2022-04-12T00:00:00.000000000',
       '2022-04-13T00:00:00.000000000', '2022-04-09T00:00:00.000000000',
       '2022-04-11T00:00:00.000000000', '2022-04-08T00:00:00.000000000',
       '2022-04-07T00:00:00.000000000', '2022-04-05T00:00:00.000000000',
       '2022-04-03T00:00:00.000000000', '2022-04-04T00:00:00.000000000',
       '2022-04-01T00:00:00.000000000', '2022-03-29T00:00:00.000000000',
       '2022-04-02T00:00:00.000000000', '2022-03-30T00:00:00.000000000',
       '2022-03-28T00:00:00.000000000', '2022-03-31T00:00:00.000000000',
       '2022-03-09T00:00:00.000000000', '2022-03-27T00:00:00.000000000',
       '2022-04-10T00:00:00.000000000', '2022-04-06T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [27]:
data.AREA=data.AREA.str.replace(" m²","")
data.AREA.unique()

array(['125', '157', '70', '81', '151', '78', '135', '94', '114', '118',
       '164', '115', '92', '130', '68', '91', '58', '75', '84', '50',
       '110', '82', '57', '85', '167', '90', '120', '193', '127', '205',
       '150', '103', '69', '203', '88', '72', '250', '77', '186', '116',
       '143', '98', '96', '89', '153', '90.3', '138', '186.9', '152.7',
       '137', '45', '170', '145', '139.8', '95', '192', '206', '178',
       '232', '140', '105', '42', '226', '136', '126.5', '126', '102',
       '49', '181', '60', '159', '177', '200', '46', '98.8', '134',
       '61.2', '63', '66', '380', '73', '65', '124', '177.5', '180',
       '185', '76', '56', '122', '82.6', '61', '38', '106', '51', '93',
       '117', '43', '155', '165', '104', '156', '160', '100.4', '94.5',
       '83', '144', '80', '106.4', '128', '101', '74.5', '148', '100',
       '108', '86', '57.4', '176', '135.5', '55', '211', '112', '162',
       '910', '241', '67.1', '67', '231', '224', '86.8', '98.5', '154',
       '111', '74', '550', '230', '158', '62', '123', '53', '202', '78.1',
       '48', '131', '59.5', '169', '97', '113', '58.6', '69.3', '63.3',
       '87', '92.7', '273', '98.4', '27', '64', '133', '41', '60.6',
       '152.5', '67.5', '54', '146.7', '240', '35', '141', '219', '174',
       '280', '146.6', '52', '55.1', '215', '270', '147', '127.5',
       '104.7', '190', '172.5', '138.3', '92.5', '222', '40', '141.4',
       '97.2', '144.5', '60.2', '146', '338', '161', '278', '246', '68.4',
       '107', '350', '99.5', '210', '182', '67.2', '410', '225', '172',
       '191', '187', '220', '156.3', '318', '139', '198', '263', '70.4',
       '142', '132', '216.9', '216', '171', '165.5', '86.6', '89.4',
       '95.5', '59', '119.7', '334', '73.9', '119', '76.5', '109.3',
       '245', '179', '70.7', '201', '116.8', '32', '168', '150.5', '121',
       '98.9', '166', '395', '106.5', '62.4', '260', '90.1', '129',
       '164.5', '163', '110.9', '152', '182.5', '352', '74.4', '84.4',
       '227', '99', '109', '195', '124.5', '229', '188', '102.3', '209',
       '242', '65.5', '256', '103.2', '147.7', '160.5', '255', '39',
       '70.3', '58.8', '320', '148.8', '117.7', '181.2', '112.2', '207',
       '236', '173', '228', '237', '175', '101.3', '80.4', '99.7', '47',
       '238', '38.5', '138.5', '71', '79', '51.1', '76.6', '63.4', '37',
       '300', '50.4', '289', '92.3', '152.4', '66.5', '71.9', '62.6',
       '217', '132.5', '31', '208', '197.3', '184', '235', '183', '100.6',
       '44', '92.8', '92.4', '194', '340', '77.4', '66.2', '66.7',
       '191.9', '285', '60.4', '290', '136.1', '80.8', '214', '57.6',
       '111.2', '113.8', '283', '105.5', '79.5', '107.6', '77.2', '52.4',
       '28', '57.5', '800', '197', '149', '161.1', '310', '97.9', '204',
       '71.6', '248', '110.5', '190.7', '328', '66.1', '213', '70.8',
       '76.7', '60.1', '387', '134.5', '75.4', '75.5', '93.2', '64.9',
       '113.9', '30', '73.6', '234', '112.3', '65.4', '404', '66.3',
       '68.2', '111.5', '84.5', '86.4', '90.6', '70.5', '150.2', '119.6',
       '103.7', '112.5', '312', '54.5', '87.4', '131.5', '375', '168.3',
       '445', '88.3', '400', '189', '144.2', '87.9', '66.4', '78.6',
       '89.6', '251', '52.8', '84.6', '113.4', '91.9', '100.5', '523',
       '76.3', '76.2', '415', '272', '110.6', '196', '101.1', '266', '34',
       '48.5', '33', '50.7', '147.5', '137.5', '191.5', '110.1', '68.9',
       '65.2', '84.2', '88.5', '63.1', '84.3', '36', '148.4', '370',
       '83.4', '83.5', '257', '99.6', '430', '59.3', '140.2', '151.1',
       '78.9', '102.5', '42.3', '120.1', '67.3', '69.2', '50.2', '56.5',
       '157.6', '76.4', '164.1', '63.6', '89.9', '98.6', '76.8', '93.1',
       '315', '94.4', '91.8', '91.7', '125.4', '78.5', '252', '153.2',
       '67.4', '206.2', '244', '264', '90.4', '360', '83.8', '125.9',
       '89.2', '69.1', '63.5', '288.5', '70.6', '81.2', '218', '275',
       '57.3', '101.2', '190.1', '87.2', '68.5', '130.2', '138.8',
       '139.5', '93.6', '170.5', '217.7', '450', '900', '142.7', '305',
       '152.3', '172.2', '67.8', '330', '75.3', '58.1', '465', '281',
       '70.9', '223', '117.3', '159.9', '122.1', '209.3', '344', '44.6',
       '107.5', '136.2', '31.8', '102.6', '306', '212', '94.7', '69.5',
       '500', '139.2', '142.3', '126.3', '120.6', '122.5', '61.5', '85.5',
       '91.4', '71.5', '72.2', '114.4', '64.5', '55.5', '116.4', '126.2',
       '135.2', '132.7', '740', '268', '65.9', '114.1', '313', '144.6',
       '186.5', '110.7', '102.4', '53.7', '97.6', '209.5', '101.8', '730',
       '134.4', '295', '75.6', '154.5', '149.5', '685', '68.7', '50.6',
       '155.5', '199', '115.4', '78.4', '151.5', '226.6', '52.3', '247',
       '127.9', '83.1', '81.6', '68.3', '267', '92.1', '640', '74.7',
       '177.7', '69.8', '385', '92.6', '288', '190.4', '59.1', '58.5',
       '161.2', '148.3', '322', '440', '102.7', '265', '86.1', '116.5',
       '137.3', '127.4', '53.5', '146.3', '169.1', '148.5', '140.5',
       '130.5', '180.5', '76.1', '164.4', '187.5', '85.7', '36.4',
       '264.8', '63.2', '75.7', '183.7', '154.3', '64.2', '99.9', '183.4',
       '95.6', '86.7', '118.5', '133.3', '178.5', '53.4', '52.5', '209.4',
       '104.8', '164.8', '218.3', '152.1', '73.3', '470', '276', '55.8',
       '321', '54.1', '98.7', '325', '73.5', '56.2', '120.7', '99.4',
       '110.8', '148.9', '221', '144.4', '124.4', '45.9', '53.3', '129.2',
       '111.4', '72.3', '58.2', '327', '71.2', '379', '63.7', '185.5',
       '45.7', '215.6', '96.6', '303.8', '176.3', '105.4', '154.9',
       '260.3', '79.4', '44.7', '150.8', '1600', '102.2', '545', '89.1',
       '187.2', '54.7', '750', '921', '157.8', '123.6', '118.1', '191.8',
       '74.1', '72.1', '95.4', '179.5', '128.5', '157.7', '195.5',
       '135.3', '335', '100.1', '82.1', '145.5', '89.8', '227.7', '124.1',
       '36.8', '149.7', '153.1', '121.6', '123.7', '53.1', '512', '190.2',
       '355', '1050', '96.5', '113.6', '125.3', '98.2', '136.5', '47.7',
       '296', '217.2', '682', '62.5', '57.8', '1200', '85.4', '146.2',
       '66.9', '82.3', '64.1', '83.7', '65.7', '68.8', '57.7', '106.6',
       '47.5', '239', '149.2', '109.7', '192.4', '214.7', '239.5',
       '152.9', '59.4', '237.4', '88.9', '438', '157.3', '116.9', '131.6',
       '162.4', '87.5', '436', '116.2', '282', '90.2', '103.5', '657',
       '101.5', '104.5', '293', '47.9', '94.3', '234.1', '216.7', '168.6',
       '103.3', '127.8', '64.3', '122.7', '192.3', '86.5', '351', '271',
       '286', '236.7', '408', '50.3', '365', '54.9', '113.5', '208.6',
       '37.7', '50.9', '107.4', '137.9', '171.2', '154.8', '130.1',
       '72.8', '80.2', '216.4', '194.4', '66.6', '156.7', '199.1', '368',
       '83.3', '167.8', '93.5', '314', '125.1', '51.9', '1150', '543',
       '188.5', '384', '89.5', '78.2', '97.1', '121.3', '45.3', '49.7',
       '345', '302', '56.3', '119.3', '164.3', '84.1', '117.6', '441',
       '90.5', '64.8', '151.7', '194.5', '155.8', '152.8', '279', '155.2',
       '950', '46.5', '125.2', '151.2', '181.5', '125.5', '254', '213.2',
       '480', '93.4', '420', '168.5', '82.5', '126.1', '61.6', '119.2',
       '81.3', '58.9', '132.8', '24', '79.1', '134.9', '71.4', '185.7',
       '160.6', '64.7', '65.3', '43.7', '99.2', '154.2', '117.5', '122.4',
       '61.8', '62.7', '58.4', '138.7', '124.3', '158.8', '67.6', '148.7',
       '107.1', '255.2', '334.6', '154.6', '47.1', '107.7', '398', '85.3',
       '135.4', '166.6', '127.3', '161.6', '303', '118.2', '79.9',
       '175.4', '96.3', '69.9', '228.1', '44.1', '170.4', '51.5', '60.5',
       '390', '192.5', '178.8', '42.7', '43.4', '179.3', '119.5', '184.4',
       '137.4', '171.7', '75.2', '645', '101.6', '96.2', '337', '95.2',
       '107.3', '95.1', '71.8', '93.7', '530', '87.7', '875', '66.8',
       '48.9', '108.1', '46.4', '84.8', '132.2', '57.1', '93.8', '62.2',
       '82.4', '200.8', '122.9', '297', '97.5', '141.8', '157.1', '115.3',
       '451', '105.9', '158.4', '81.5', '81.9', '59.7', '105.2', '90.8',
       '82.2', '180.9', '72.4', '145.6', '237.6', '163.3', '85.2', '880',
       '58.3', '77.7', '142.8', '201.9', '97.3', '224.6'], dtype=object)

In [28]:
data.loc[(data.MORTGAGE.isnull()),"MORTGAGE"]="yoxdur"
data.MORTGAGE.unique()

array(['var', 'yoxdur'], dtype=object)

In [29]:
data.shape

(20444, 25)

In [30]:
data[data.UNITPRICE.str.contains('/m²')].shape
data.UNITPRICE=data.UNITPRICE.str.replace(" AZN/m²","").str.replace(" ","")
data.UNITPRICE.unique()

array(['1640', '2230', '1610', '2220', '1230', '1720', '1800', '1380',
       '1070', '1660', '1650', '2670', '1510', '1450', '1520', '1350',
       '2310', '769', '1900', '1670', '1010', '1840', '820', '1860',
       '1850', '1590', '2320', '1890', '2080', '1750', '5730', '4090',
       '1950', '1530', '1830', '2100', '2070', '1310', '1600', '2240',
       '1500', '1260', '1880', '1730', '1300', '908', '2390', '1150',
       '884', '1280', '911', '4000', '1470', '2550', '1780', '1270',
       '1460', '2060', '750', '1480', '1770', '829', '1130', '1540',
       '586', '1570', '1110', '2410', '1100', '1580', '2800', '2030',
       '1320', '1440', '1430', '1420', '2460', '2000', '1680', '2530',
       '754', '1170', '3430', '1550', '1250', '1560', '1400', '2160',
       '1290', '2050', '1700', '1020', '878', '842', '1220', '1710',
       '814', '1340', '1920', '1820', '1810', '1390', '1690', '1060',
       '1000', '1040', '3520', '984', '1120', '1330', '1030', '2300',
       '2040', '1050', '1630', '1200', '1080', '2140', '948', '1620',
       '1490', '1930', '1360', '1190', '3080', '1970', '1760', '1180',
       '1740', '1370', '2750', '1940', '1980', '846', '2610', '2180',
       '2210', '2020', '1790', '892', '946', '2270', '778', '2430',
       '2330', '1240', '819', '747', '1960', '699', '2370', '2090',
       '2200', '1160', '1870', '766', '2840', '2570', '2590', '3500',
       '1210', '868', '2400', '4130', '850', '900', '574', '2250', '2150',
       '1410', '2600', '3330', '2710', '2190', '2480', '3240', '2010',
       '4750', '2520', '4140', '1140', '818', '914', '990', '810', '2130',
       '2850', '2170', '1910', '711', '745', '2730', '708', '3290', '691',
       '2280', '2110', '2420', '773', '2260', '3190', '1990', '883',
       '2350', '2700', '650', '758', '680', '3140', '2450', '2120',
       '3220', '882', '636', '756', '2380', '654', '2690', '961', '706',
       '906', '1090', '2680', '3010', '821', '2660', '3180', '2500',
       '3560', '3040', '2650', '4330', '2890', '3630', '2640', '875',
       '3000', '2290', '707', '657', '936', '966', '833', '872', '817',
       '3060', '901', '987', '2440', '2740', '2340', '2860', '2720',
       '6580', '3070', '2770', '3320', '2930', '6390', '950', '6610',
       '648', '2820', '942', '2360', '2880', '2900', '694', '845', '949',
       '871', '2620', '982', '907', '938', '2810', '4250', '2580', '973',
       '873', '2940', '646', '600', '809', '4500', '881', '2910', '931',
       '3400', '2630', '804', '890', '2470', '893', '757', '3050', '3940',
       '3850', '609', '932', '2510', '5180', '803', '17100', '5220',
       '928', '714', '859', '3900', '971', '3020', '606', '798', '857',
       '944', '443', '693', '5290', '651', '920', '802', '6470', '963',
       '826', '738', '7590', '993', '919', '3300', '943', '3090', '2870',
       '988', '613', '2790', '765', '3350', '5310', '3030', '631', '3170',
       '462', '4380', '2780', '800', '2560', '941', '898', '972', '3120',
       '3100', '939', '796', '918', '791', '854', '823', '3830', '2540',
       '793', '690', '2920', '772', '3260', '805', '7020', '930', '909',
       '3840', '3440', '3650', '813', '897', '862', '734', '792', '755',
       '870', '2760', '12500', '843', '974', '848', '885', '856', '784',
       '995', '2490', '783', '3250', '3230', '588', '4440', '4540', '915',
       '879', '865', '3790', '2990', '913', '4690', '5090', '808', '3740',
       '811', '951', '4390', '867', '4510', '3470', '705', '917', '3310',
       '847', '965', '957', '880', '777', '940', '827', '2950', '877',
       '592', '986', '955', '515', '760', '513', '573', '3620', '2960',
       '3210', '797', '844', '744', '968', '5000', '3820', '658', '610',
       '992', '6000', '3130', '863', '980', '4400', '4460', '964', '675',
       '684', '4170', '4760', '3640', '3860', '3880', '554', '4270',
       '467', '926', '860', '19000', '905', '663', '3530', '837', '741',
       '3280', '904', '617', '788', '3360', '593', '696', '3890', '960',
       '722', '4660', '806', '3370', '700', '989', '450', '3570', '4350',
       '4080', '11300', '685', '608', '786', '767', '889', '912', '753',
       '670', '2970', '3920', '925', '3750', '978', '934', '3700', '5880',
       '998', '3410', '851', '761', '736', '5540', '576', '835', '929',
       '985', '899', '719', '864', '975', '731', '967', '953', '923',
       '2980', '970', '4120', '4700', '397', '733', '638', '7290', '7000',
       '642', '952', '4060', '3390', '958', '983', '3150', '979', '665',
       '7470', '2830', '5030', '4050', '981', '697', '3200', '628', '891',
       '954', '855', '6260', '4150', '4530', '6800', '902', '933', '937',
       '541', '717', '478', '10100', '5560', '794', '721', '3800', '572',
       '888', '4800', '903', '816', '922', '924', '7690', '866', '799',
       '3670', '824', '5140', '688', '4160', '764', '5280', '634', '5860',
       '6170', '839', '959', '853', '545', '8500', '956', '894', '874',
       '7430', '400', '306', '3450', '4620', '3270', '910', '869', '935',
       '789', '962', '3160', '4010', '4490', '4920', '4030', '3540',
       '921', '840', '895', '3490', '3910', '887', '703', '763', '4200',
       '945', '746', '732', '830', '849', '649', '652', '5100', '8200',
       '9960', '6650', '822', '702', '602', '997', '9120', '3580', '991',
       '5020', '4470', '664', '3480', '3870', '5330', '807', '723', '752',
       '611', '5120', '775', '656', '7350', '3610', '996', '488', '3720',
       '781', '475', '726', '4360', '876', '6210', '594', '3110', '838',
       '4630', '24300', '976', '517', '841', '4300', '4100', '3970',
       '5510', '5230', '969', '716', '5070', '8620', '3990', '4230',
       '742', '5700', '774', '5060', '977', '927', '712', '852', '999',
       '4220', '6030', '15000', '947', '653'], dtype=object)

In [31]:
data["URGENT"]="yoxdur"
data.loc[(data.DESCRIPTION.str.contains("|".join(['Tecili','təcili','TƏCİLİ','TECILI','Təcili']))),"URGENT"]="var"

In [32]:
# City Xirdalan data sample 1 
data.drop(data[~data.ADDRESS.str.contains("Bakı")].index, inplace=True)

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20443 entries, 0 to 20443
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CATEGORY          20443 non-null  object
 1   FLOOR             20443 non-null  object
 2   AREA              20443 non-null  object
 3   ROOMNUMBERS       20443 non-null  int64
 4   PROPERTYDOC       20443 non-null  object
 5   MORTGAGE          20443 non-null  object
 6   AGENCYNAME        20443 non-null  object
 7   PRICE             20443 non-null  int64
 8   CURRENCY          20443 non-null  object
 9   UNITPRICE         20443 non-null  object
 10  DESCRIPTION       20443 non-null  object
 11  ADDRESS           20443 non-null  object
 12  LATITUTE          20443 non-null  float64
 13  LONGITUDE         20443 non-null  float64
 14  SELLERNAME        20185 non-null  object
 15  OWNERSHIP         20185 non-null  object
 16  ANNOUNCEMENTID    20443 non-null  object
 17  VIEWS             20443 non-null  object
 18  UPDATETIME        20443 non-null  datetime64[ns]
 19  TITLE             14341 non-null  object
 20  COUNTTOTAL        14341 non-null  float64
 21  COUNTNEWBUILDING  14341 non-null  float64
 22  MAINLOCATION      20443 non-null  object
 23  LOCATIONSSIZE     20443 non-null  int64
 24  MAINFLOOR         20443 non-null  object
 25  URGENT            20443 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(3), object(18)
memory usage: 4.2+ MB

In [34]:
data.OWNERSHIP.unique()

array(['vasitəçi (agent)', 'mülkiyyətçi', None], dtype=object)

In [35]:
# I think that there is a problem here between agency name and ownership

data.loc[((data.AGENCYNAME!="yoxdur") & (data.OWNERSHIP=="mülkiyyətçi")),"OWNERSHIP"]="vasitəçi (agent)"
data.loc[((data.OWNERSHIP.isnull()) & (data.AGENCYNAME!="yoxdur")),"OWNERSHIP"]="vasitəçi (agent)"
data.drop(data[(data.OWNERSHIP.isnull())].index,inplace=True)
data.loc[(data.OWNERSHIP=="vasitəçi (agent)"),"OWNERSHIP"]="vasitəçi"

In [36]:
data.shape

(20334, 26)

In [37]:
data.ANNOUNCEMENTID=data.ANNOUNCEMENTID.apply(lambda x: re.search(r'\d+',x).group(0))

In [38]:
len(data.ANNOUNCEMENTID.unique())

20320

In [39]:
data.shape

(20334, 26)

In [40]:
data.drop_duplicates(inplace=True)
data.shape

(20334, 26)

In [41]:
data.drop(data[data.ANNOUNCEMENTID.isin(list(data[data.ANNOUNCEMENTID.duplicated()].ANNOUNCEMENTID.unique()))].index[::2],inplace=True)

In [42]:
data.shape

(20320, 26)

In [43]:
data.VIEWS=data.VIEWS.apply(lambda x: re.search(r'\d+',x).group(0))
data.VIEWS.unique()

array(['51', '194', '98', ..., '1419', '2083', '945'], dtype=object)

In [44]:
data.loc[(data.COUNTTOTAL.isnull()),"COUNTTOTAL"]=0
data.loc[(data.COUNTNEWBUILDING.isnull()),"COUNTNEWBUILDING"]=0

In [45]:
data[data.index==56]

,CATEGORY,FLOOR,AREA,ROOMNUMBERS,PROPERTYDOC,MORTGAGE,AGENCYNAME,PRICE,CURRENCY,UNITPRICE,...,ANNOUNCEMENTID,VIEWS,UPDATETIME,TITLE,COUNTTOTAL,COUNTNEWBUILDING,MAINLOCATION,LOCATIONSSIZE,MAINFLOOR,URGENT
56,Yeni tikili,17,153,3,var,var,yoxdur,268000,AZN,1750,...,2723601,131,2022-04-20,NaN,0.0,0.0,Nərimanov r.,1,5,yoxdur

In [46]:
deleted_columns=["CATEGORY","CURRENCY","DESCRIPTION","ADDRESS","SELLERNAME","ANNOUNCEMENTID","TITLE"]
data.drop(deleted_columns,axis=1,inplace=True)

In [47]:
data.shape

(20320, 19)

In [48]:
data.drop_duplicates(inplace=True)
data.shape

(20320, 19)

In [49]:
data[["COUNTNEWBUILDING","COUNTTOTAL","FLOOR","MAINFLOOR","VIEWS","UNITPRICE"]]=data[["COUNTNEWBUILDING","COUNTTOTAL","FLOOR","MAINFLOOR","VIEWS","UNITPRICE"]].astype(int)
data[["AREA"]]=data[["AREA"]].astype(float)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20320 entries, 0 to 20443
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FLOOR             20320 non-null  int32
 1   AREA              20320 non-null  float64
 2   ROOMNUMBERS       20320 non-null  int64
 3   PROPERTYDOC       20320 non-null  object
 4   MORTGAGE          20320 non-null  object
 5   AGENCYNAME        20320 non-null  object
 6   PRICE             20320 non-null  int64
 7   UNITPRICE         20320 non-null  int32
 8   LATITUTE          20320 non-null  float64
 9   LONGITUDE         20320 non-null  float64
 10  OWNERSHIP         20320 non-null  object
 11  VIEWS             20320 non-null  int32
 12  UPDATETIME        20320 non-null  datetime64[ns]
 13  COUNTTOTAL        20320 non-null  int32
 14  COUNTNEWBUILDING  20320 non-null  int32
 15  MAINLOCATION      20320 non-null  object
 16  LOCATIONSSIZE     20320 non-null  int64
 17  MAINFLOOR         20320 non-null  int32
 18  URGENT            20320 non-null  object
dtypes: datetime64[ns](1), float64(3), int32(6), int64(3), object(6)
memory usage: 2.6+ MB

In [51]:
data=data[["AGENCYNAME","OWNERSHIP","COUNTNEWBUILDING","COUNTTOTAL","PROPERTYDOC","MORTGAGE","AREA","FLOOR","MAINFLOOR","ROOMNUMBERS","URGENT","VIEWS","UPDATETIME","MAINLOCATION","LOCATIONSSIZE","LATITUTE","LONGITUDE","UNITPRICE","PRICE"]]

In [52]:
data.head()

,AGENCYNAME,OWNERSHIP,COUNTNEWBUILDING,COUNTTOTAL,PROPERTYDOC,MORTGAGE,AREA,FLOOR,MAINFLOOR,ROOMNUMBERS,URGENT,VIEWS,UPDATETIME,MAINLOCATION,LOCATIONSSIZE,LATITUTE,LONGITUDE,UNITPRICE,PRICE
0,Fortuna-N,vasitəçi,33,117,var,var,125.0,10,9,3,yoxdur,51,2022-04-26,Yasamal r.,2,40.390293,49.802656,1640,205000
1,VİP House,vasitəçi,142,264,var,var,157.0,16,6,3,yoxdur,194,2022-04-26,Yasamal r.,3,40.378852,49.830508,2230,350000
2,New House 28 May,vasitəçi,615,840,var,yoxdur,70.0,19,4,2,yoxdur,98,2022-04-26,Yasamal q.,3,40.393736,49.806128,1610,112500
3,NPG MMC,vasitəçi,76,112,yoxdur,yoxdur,81.0,17,4,2,yoxdur,50,2022-04-26,Xətai r.,3,40.379946,49.866214,2220,180000
4,Qarabağ Əmlak,vasitəçi,127,294,yoxdur,yoxdur,151.0,17,11,3,yoxdur,59,2022-04-27,9-cu mikrorayon q.,2,40.421824,49.809609,1230,185000

### DownCasting

In [53]:
fcols = data.drop(["UPDATETIME"],axis=1).select_dtypes(include="number").columns
data[fcols] = data[fcols].apply(pd.to_numeric, downcast='integer')

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20320 entries, 0 to 20443
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   AGENCYNAME        20320 non-null  object
 1   OWNERSHIP         20320 non-null  object
 2   COUNTNEWBUILDING  20320 non-null  int16
 3   COUNTTOTAL        20320 non-null  int16
 4   PROPERTYDOC       20320 non-null  object
 5   MORTGAGE          20320 non-null  object
 6   AREA              20320 non-null  float64
 7   FLOOR             20320 non-null  int8
 8   MAINFLOOR         20320 non-null  int8
 9   ROOMNUMBERS       20320 non-null  int8
 10  URGENT            20320 non-null  object
 11  VIEWS             20320 non-null  int32
 12  UPDATETIME        20320 non-null  datetime64[ns]
 13  MAINLOCATION      20320 non-null  object
 14  LOCATIONSSIZE     20320 non-null  int8
 15  LATITUTE          20320 non-null  float64
 16  LONGITUDE         20320 non-null  float64
 17  UNITPRICE         20320 non-null  int16
 18  PRICE             20320 non-null  int32
dtypes: datetime64[ns](1), float64(3), int16(3), int32(2), int8(4), object(6)
memory usage: 2.1+ MB

In [55]:
data

,AGENCYNAME,OWNERSHIP,COUNTNEWBUILDING,COUNTTOTAL,PROPERTYDOC,MORTGAGE,AREA,FLOOR,MAINFLOOR,ROOMNUMBERS,URGENT,VIEWS,UPDATETIME,MAINLOCATION,LOCATIONSSIZE,LATITUTE,LONGITUDE,UNITPRICE,PRICE
0,Fortuna-N,vasitəçi,33,117,var,var,125.0,10,9,3,yoxdur,51,2022-04-26,Yasamal r.,2,40.390293,49.802656,1640,205000
1,VİP House,vasitəçi,142,264,var,var,157.0,16,6,3,yoxdur,194,2022-04-26,Yasamal r.,3,40.378852,49.830508,2230,350000
2,New House 28 May,vasitəçi,615,840,var,yoxdur,70.0,19,4,2,yoxdur,98,2022-04-26,Yasamal q.,3,40.393736,49.806128,1610,112500
3,NPG MMC,vasitəçi,76,112,yoxdur,yoxdur,81.0,17,4,2,yoxdur,50,2022-04-26,Xətai r.,3,40.379946,49.866214,2220,180000
4,Qarabağ Əmlak,vasitəçi,127,294,yoxdur,yoxdur,151.0,17,11,3,yoxdur,59,2022-04-27,9-cu mikrorayon q.,2,40.421824,49.809609,1230,185000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20439,yoxdur,vasitəçi,0,0,yoxdur,yoxdur,185.0,17,4,4,yoxdur,68,2022-04-26,Yasamal q.,3,40.400523,49.808697,1220,225000
20440,Real Əmlak Nizami,vasitəçi,238,540,var,var,130.0,17,15,3,yoxdur,240,2022-04-26,Nərimanov r.,1,40.408917,49.864000,1730,225000
20441,Real Əmlak Bakı,vasitəçi,545,1010,var,var,156.0,20,15,4,yoxdur,33,2022-04-26,Xətai r.,2,40.385422,49.866793,2560,399000
20442,yoxdur,vasitəçi,0,0,yoxdur,yoxdur,67.0,20,6,2,var,72,2022-04-27,Xətai r.,2,40.385945,49.871696,2080,139500
20443,yoxdur,vasitəçi,0,0,var,yoxdur,76.0,18,15,3,yoxdur,99,2022-04-27,Yasamal r.,3,40.381833,49.803988,2040,155000

In [57]:
clean_data=data.copy()
clean_data.to_json('clean-data.json',orient="records",force_ascii=False,date_unit='ns')